.Modalbtn {
    margin-left: 45%;
    margin-top: 5%;
}
.uploadingapic {
    background: rgb(49, 110, 223); 
    display: table;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5%;
}
.uploadingapic:hover {
    background-color: darkblue;
}
.modalbody {
    display: flex;
}
.modalinput {
    width: 60%;
    margin-left: 10%;
}
.modalTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20%;
    color: rgb(82, 72, 72);
}