body {
    background-color: #160042;
    margin-top : 10%
}
.Modalbtn {
    margin-left: 45%;
    margin-top: 5%;
}
.uploadingapic {
    background: rgb(49, 110, 223); 
    display: table;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5%;
}
.uploadingapic:hover {
    background-color: darkblue;
}
.modalbody {
    display: flex;
}
.modalinput {
    width: 60%;
    margin-left: 10%;
}
.modalTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20%;
    color: rgb(82, 72, 72);
}
.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-around;
}
.searchinput {
    width: 30%;
    margin-left: 36%;
    margin-top: 5%;
}
