

.adminTable {
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
}
th {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td {
    text-align: center;
    color: white;
}
.postsbtn {
    border: transparent;
}