
.navbarLogo {
  width: 100px;
  height: 100px;
}
#homebtn {
  margin-left: 50%; 
}
#signupbtn {
  margin-left: 1100%;
}
#loginbtn {
  margin-left: 1300%;
}
#logoutbtn {
  margin-left: 390%;
}
#profilebtn {
  margin-left: 1200%;
}
#gallerybtn {
  margin-left: 50%;
}