
.navbarLogo {
  width: 100px;
  height: 100px;
}
#logoutbtn {
  margin-left: 370%;
  height: 100%;
}
#profilebtn {
  margin-left: 1200%;
  height: 70%;
}
#homebtn {
  margin-left: 50%;
  
}
#signupbtn {
  margin-left: 1100%;
}
#loginbtn {
  margin-left: 1300%;
}